<a href="https://colab.research.google.com/github/EonLion/git_trail_version/blob/main/Sales_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
sales_data = pd.read_excel('/content/Sample - Superstore.xls',sheet_name='Orders')

In [5]:
sales_data.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9995.000000,9995,9995,9995.000000,9995.000000,9995.000000,9995.000000,9995.000000
mean,4998.000000,2016-04-30 01:00:21.970985728,2016-05-04 00:00:17.288644096,55194.130565,229.859332,3.789395,0.156187,28.661328
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.500000,2015-05-23 00:00:00,2015-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.729500
50%,4998.000000,2016-06-26 00:00:00,2016-06-29 00:00:00,56560.000000,54.500000,3.000000,0.200000,8.671000
75%,7496.500000,2017-05-14 00:00:00,2017-05-18 00:00:00,90008.000000,209.955000,5.000000,0.200000,29.364000
max,9995.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.452304,NaN,NaN,32064.282332,623.213933,2.225070,0.206448,234.248806

In [6]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9995 entries, 0 to 9994
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9995 non-null   int64
 1   Order ID       9995 non-null   object
 2   Order Date     9995 non-null   datetime64[ns]
 3   Ship Date      9995 non-null   datetime64[ns]
 4   Ship Mode      9995 non-null   object
 5   Customer ID    9995 non-null   object
 6   Customer Name  9995 non-null   object
 7   Segment        9995 non-null   object
 8   Country        9995 non-null   object
 9   City           9995 non-null   object
 10  State          9995 non-null   object
 11  Postal Code    9995 non-null   int64
 12  Region         9995 non-null   object
 13  Product ID     9995 non-null   object
 14  Category       9995 non-null   object
 15  Sub-Category   9995 non-null   object
 16  Product Name   9995 non-null   object
 17  Sales          9995 non-null   float64
 18  Quantity       9995 non-null   int64
 19  Discount       9995 non-null   float64
 20  Profit         9995 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [7]:
correlation = sales_data['Sales'].corr(sales_data['Profit'])

**Correlation between sales and profit**

In [8]:
correlation

0.4790638858306958

**Correlation between Discount and Profit**

In [9]:
sales_data['Discount'].corr(sales_data['Profit'])

-0.21949509119489255